.column {
	display: inline-block;
	margin: 0 0 2% 0;
	padding: 0;
	width: 32%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.footer {
	margin-top: 12%;
}

.header {
	margin-bottom: 8%;
}

.panel-heading{
	font-weight: bold;
}

#welcome {
	text-align: center;
	font-size: 200%;
}

#option {
	text-align: center;
	margin-bottom: 7%;
}

.inline-pic {
	display: inline-block;
	margin: 0 0.2em 0 0.2em;
	width: 5%;
}

.offline-pic {
	margin: 1% 0 2.5% 0;
	width: 95%;
}

.label {
	margin: 0 0.2em 0 0.2em;
}

.well {
	margin: 1% 0 1.5% 0;
	font-family: courier;
	font-weight: bold;
	width: 20em;
}

.alert {
	font-weight: bold;
	margin: 1% 0 2% 0;
	width: 95%;
}

#off-list-alert {
	width: 100%;
}

#instruction {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8%;
	width: 60%;
}

#pills {
	margin-bottom: 3%;
}

#accordion {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

#logo {
	width: 2%;
}